html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,*::before,*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

}

body {
  min-width: px;
  margin: 0;
  padding: 0;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

.p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}
