html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,*::before,*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

}

body {
  min-width: px;
  margin: 0;
  padding: 0;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  background: url(../img/slider.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}

.p {
  font-family: "Bokor";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}
